# dependencies
node_modules/

# build outputs
dist/
.next/
.turbo/

# generated Prisma client
packages/db/src/generated/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editors
.vscode/*
!.vscode/extensions.json

# test coverage
coverage/

*.tsbuildinfo

next-env.d.ts